@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       
        .container{
            margin-left: -10px;
            
        }
      

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
       
         
       }

       .search input{

        height: 40px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;

       }

       

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 115px;
        background: rgb(0, 166, 255);
        border-radius: 5px;

       }