<body>
  

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- about -->
<div class="about">
   <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links logo"></a>
</div>
<!-- end about -->
   
   <div class="content">
      <!-- card -->
      <div class="card">
        <div class="icon"><i class="material-icons md-36" routerLink="/depot">cloud_upload</i></div>
        <p class="title">Dépôt</p>
        <p class="text">Cliquez ici pour effectuer un dépôt de dossier.</p>
     </div>
     
      <!-- end card -->
      <!-- card -->
      <div class="card">
        <div class="icon"><i class="material-icons md-36" routerLink="/universite">account_balance</i></div>
        <p class="title">Université</p>
        <p class="text">Ici vous trouverez toutes les universités disponibles.</p>
     </div>
     
      <!-- end card -->
      <!-- card -->
      <div class="card">
        <div class="icon"><i class="material-icons md-36" routerLink="/faculte">school</i></div>
        <p class="title">Faculté</p>
        <p class="text">Ici vous trouverez toutes les facultés disponibles.</p>
     </div>
     
      <!-- end card -->
   
   </div>

  </body>

