<div>
  <h2 id="page-heading" data-cy="AcceptationHeading">
    <span>Acceptations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-acceptation"
        [routerLink]="['/acceptation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Acceptation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="acceptations?.length === 0">
    <span>No Acceptations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="acceptations && acceptations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="filiere">
            <div class="d-flex">
              <span>Filiere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateAcceptation">
            <div class="d-flex">
              <span>Date Acceptation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inscription.id">
            <div class="d-flex">
              <span>Inscription</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="depot.id">
            <div class="d-flex">
              <span>Depot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span>User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acceptation of acceptations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/acceptation', acceptation.id, 'view']">{{ acceptation.id }}</a>
          </td>
          <td>{{ acceptation.filiere }}</td>
          <td>{{ acceptation.dateAcceptation | formatMediumDate }}</td>
          <td>
            <div *ngIf="acceptation.inscription">
              <a [routerLink]="['/inscription', acceptation.inscription.id, 'view']">{{ acceptation.inscription.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="acceptation.depot">
              <a [routerLink]="['/depot', acceptation.depot.id, 'view']">{{ acceptation.depot.id }}</a>
            </div>
          </td>
          <td>
            {{ acceptation.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/acceptation', acceptation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/acceptation', acceptation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(acceptation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="acceptations && acceptations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
