<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-depot-heading" data-cy="DepotCreateUpdateHeading">Create or edit a Depot</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateNaissance">Date Naissance</label>
          <div class="d-flex">
            <input
              id="field_dateNaissance"
              data-cy="dateNaissance"
              type="datetime-local"
              class="form-control"
              name="dateNaissance"
              formControlName="dateNaissance"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lieuDeNaissance">Lieu De Naissance</label>
          <input
            type="text"
            class="form-control"
            name="lieuDeNaissance"
            id="field_lieuDeNaissance"
            data-cy="lieuDeNaissance"
            formControlName="lieuDeNaissance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nationalite">Nationalite</label>
          <input
            type="text"
            class="form-control"
            name="nationalite"
            id="field_nationalite"
            data-cy="nationalite"
            formControlName="nationalite"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sexe">Sexe</label>
          <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe" data-cy="sexe">
            <option [ngValue]="null"></option>
            <option *ngFor="let enumSexe of enumSexeValues" [value]="enumSexe">enumSexe</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateDepot">Date Depot</label>
          <div class="d-flex">
            <input
              id="field_dateDepot"
              data-cy="dateDepot"
              type="datetime-local"
              class="form-control"
              name="dateDepot"
              formControlName="dateDepot"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numeroDeTable">Numero De Table</label>
          <input
            type="text"
            class="form-control"
            name="numeroDeTable"
            id="field_numeroDeTable"
            data-cy="numeroDeTable"
            formControlName="numeroDeTable"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_serie">Serie</label>
          <input type="text" class="form-control" name="serie" id="field_serie" data-cy="serie" formControlName="serie" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_diplome">Diplome</label>
          <div>
            <img
              [src]="'data:' + editForm.get('diplomeContentType')!.value + ';base64,' + editForm.get('diplome')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('diplome')!.value"
              alt="depot image"
            />
            <div *ngIf="editForm.get('diplome')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('diplomeContentType')!.value }}, {{ byteSize(editForm.get('diplome')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('diplome', 'diplomeContentType', 'file_diplome')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_diplome" data-cy="diplome" (change)="setFileData($event, 'diplome', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="diplome" id="field_diplome" data-cy="diplome" formControlName="diplome" />
          <input
            type="hidden"
            class="form-control"
            name="diplomeContentType"
            id="field_diplomeContentType"
            formControlName="diplomeContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_releveDeNote">Releve De Note</label>
          <div>
            <img
              [src]="'data:' + editForm.get('releveDeNoteContentType')!.value + ';base64,' + editForm.get('releveDeNote')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('releveDeNote')!.value"
              alt="depot image"
            />
            <div *ngIf="editForm.get('releveDeNote')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('releveDeNoteContentType')!.value }}, {{ byteSize(editForm.get('releveDeNote')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('releveDeNote', 'releveDeNoteContentType', 'file_releveDeNote')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_releveDeNote"
              data-cy="releveDeNote"
              (change)="setFileData($event, 'releveDeNote', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="releveDeNote"
            id="field_releveDeNote"
            data-cy="releveDeNote"
            formControlName="releveDeNote"
          />
          <input
            type="hidden"
            class="form-control"
            name="releveDeNoteContentType"
            id="field_releveDeNoteContentType"
            formControlName="releveDeNoteContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_anneeObtention">Annee Obtention</label>
          <input
            type="text"
            class="form-control"
            name="anneeObtention"
            id="field_anneeObtention"
            data-cy="anneeObtention"
            formControlName="anneeObtention"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lieuObtention">Lieu Obtention</label>
          <input
            type="text"
            class="form-control"
            name="lieuObtention"
            id="field_lieuObtention"
            data-cy="lieuObtention"
            formControlName="lieuObtention"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_mention">Mention</label>
          <input type="text" class="form-control" name="mention" id="field_mention" data-cy="mention" formControlName="mention" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lettreDeMotivation">Lettre De Motivation</label>
          <div>
            <img
              [src]="
                'data:' + editForm.get('lettreDeMotivationContentType')!.value + ';base64,' + editForm.get('lettreDeMotivation')!.value
              "
              style="max-height: 100px"
              *ngIf="editForm.get('lettreDeMotivation')!.value"
              alt="depot image"
            />
            <div *ngIf="editForm.get('lettreDeMotivation')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('lettreDeMotivationContentType')!.value }},
                {{ byteSize(editForm.get('lettreDeMotivation')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('lettreDeMotivation', 'lettreDeMotivationContentType', 'file_lettreDeMotivation')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_lettreDeMotivation"
              data-cy="lettreDeMotivation"
              (change)="setFileData($event, 'lettreDeMotivation', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="lettreDeMotivation"
            id="field_lettreDeMotivation"
            data-cy="lettreDeMotivation"
            formControlName="lettreDeMotivation"
          />
          <input
            type="hidden"
            class="form-control"
            name="lettreDeMotivationContentType"
            id="field_lettreDeMotivationContentType"
            formControlName="lettreDeMotivationContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_choix1">Choix 1</label>
          <input type="text" class="form-control" name="choix1" id="field_choix1" data-cy="choix1" formControlName="choix1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_choix2">Choix 2</label>
          <input type="text" class="form-control" name="choix2" id="field_choix2" data-cy="choix2" formControlName="choix2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_choix3">Choix 3</label>
          <input type="text" class="form-control" name="choix3" id="field_choix3" data-cy="choix3" formControlName="choix3" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_photo">Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photo')!.value"
              alt="depot image"
            />
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_photo" data-cy="photo" (change)="setFileData($event, 'photo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bachelier">Bachelier</label>
          <select
            class="form-control"
            id="field_bachelier"
            data-cy="bachelier"
            name="bachelier"
            formControlName="bachelier"
            [compareWith]="compareBachelier"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="bachelierOption" *ngFor="let bachelierOption of bacheliersSharedCollection">{{ bachelierOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dossier">Dossier</label>
          <select
            class="form-control"
            id="field_dossier"
            data-cy="dossier"
            name="dossier"
            formControlName="dossier"
            [compareWith]="compareDossier"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="dossierOption" *ngFor="let dossierOption of dossiersSharedCollection">{{ dossierOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
