<div class="d-flex justify-content-center" style="margin-top: 45px;text-align: center; font-family: 'Cambria', sans-serif; box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px, rgba(0, 0, 0, 0.22) 0px 5px 5px; margin: 50px 50px;">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-inscription-heading" data-cy="InscriptionCreateUpdateHeading">Inscription</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
  <div class="col">
    <label class="form-label" for="field_dateInscription">Date Inscription</label>
    <input
      id="field_dateInscription"
      data-cy="dateInscription"
      type="datetime-local"
      class="form-control"
      name="dateInscription"
      formControlName="dateInscription"
      placeholder="YYYY-MM-DD HH:mm"
    />
  </div>

  <div class="col">
    <label class="form-label" for="field_regime">Regime</label>
    <select class="form-select" id="field_regime" name="regime" data-cy="regime" formControlName="regime">
      <!-- Ajoutez des options selon vos besoins -->
      <option value="true">Boursier</option>
      <option value="false">Non Boursier</option>
    </select>
  </div>
</div>


<div class="row mb-3">
  <div class="col">
    <label class="form-label" for="field_anneeAcademique">Annee Academique</label>
    <input
      type="text"
      class="form-control"
      name="anneeAcademique"
      id="field_anneeAcademique"
      data-cy="anneeAcademique"
      formControlName="anneeAcademique"
    />
  </div>

  <div class="col">
    <label class="form-label" for="field_montantInscription">Montant Inscription</label>
    <input
      type="number"
      class="form-control"
      name="montantInscription"
      id="field_montantInscription"
      data-cy="montantInscription"
      formControlName="montantInscription"
    />
  </div>
</div>

        <div class="row mb-3">
          <div class="col">
          <label class="form-label" for="field_niveau">Niveau</label>
          <input type="text" class="form-control" name="niveau" id="field_niveau" data-cy="niveau" formControlName="niveau" />
        </div>

        <div class="col">
          <label class="form-label" for="field_observation">Observation</label>
          <input
            type="text"
            class="form-control"
            name="observation"
            id="field_observation"
            data-cy="observation"
            formControlName="observation"
          />
        </div>
      </div>

        <div class="row mb-3">
          <label class="form-label" for="field_session">Session</label>
          <select
            class="form-control"
            id="field_session"
            data-cy="session"
            name="session"
            formControlName="session"
            [compareWith]="compareSession"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="sessionOption" *ngFor="let sessionOption of sessionsSharedCollection">{{ sessionOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Soumettre</span>
        </button>
      </div>
    </form>
  </div>
</div>
