<div class="d-flex justify-content-center" style="margin-top: 45px; font-family: 'Cambria', sans-serif; text-align: center;">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-inscription-heading" data-cy="InscriptionCreateUpdateHeading">Prendre une Inscription</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
              <label class="form-label" for="field_dateInscription">Date Inscription</label>
              <div class="d-flex">
                  <input
                      id="field_dateInscription"
                      data-cy="dateInscription"
                      type="date"
                      class="form-control"
                      name="dateInscription"
                      formControlName="dateInscription"
                      placeholder="YYYY-MM-DD"
                  />
              </div>
          </div>
      
          <div class="col-md-6">
              <label class="form-label" for="field_regime">Regime</label>
              <select class="form-select" id="field_regime" name="regime" data-cy="regime" formControlName="regime">
                  <!-- Ajoutez des options selon vos besoins -->
                  <option value="option1">Boursier</option>
                  <option value="option2">Non Boursier</option>
              </select>
          </div>
      </div>
      
      

        <div class="row mb-3">
          <label class="form-label" for="field_session">Session</label>
          <select
            class="form-control"
            id="field_session"
            data-cy="session"
            name="session"
            formControlName="session"
            [compareWith]="compareSession"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="sessionOption" *ngFor="let sessionOption of sessionsSharedCollection">{{ sessionOption.intitule }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
